@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.conteiner {
    width: 1600px;
    margin: 0 auto;
}

/* ====== header ====== */
.header {
    display: flex;
    justify-content: space-between;
    background-color: #222222;
    padding: 0 230px;
}

.header-leftbox {
    width: 111px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 18px 0;
}

.header-leftbox-logo {
    display: block;
    width: 44px;
    height: 38px;
    background-image: url(../img/logo.png);
    background-size: cover;
    background-position: center;
}

.header-leftbox-form {
    display: flex;
    position: relative;
}

.header-leftbox-input {
    position: absolute;
    width: 0;
    opacity: 0;
    border: 2px solid #e8e8e8;
    background: #222222;
    padding: 2px 0;
    transition: all 0.4s;
    color: #e8e8e8;
}

.header-leftbox-input:focus {
    width: 200px;
    opacity: 1;
    margin-left: 40px;
}

.header-leftbox-search-btn {
    width: 27px;
    height: 28px;
    fill: #E8E8E8;

}

.header-leftbox-search-btn:hover {
    fill: #ababab;
    cursor: pointer;
}

.header-leftbox-search-btn:active {
    cursor: pointer;
    fill: #F16D7F;
}

.header-rightbox {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 18px 0;
    width: 168px;
}



.header-rightbox-userpage {
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    display: flex;
}

.header-rightbox-userpage-svg {
    fill: #fff;
}

.header-rightbox-userpage-svg:hover {
    fill: #ababab;
    cursor: pointer;
}

.header-rightbox-userpage-svg:active {
    cursor: pointer;
    fill: #F16D7F;
}

.header-rightbox-cart {
    position: relative;
    width: 32px;
    height: 32px;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    display: flex;
    border: none;
    text-align: center;
    font-size: 12px;
    color: #fff;
}

.header-rightbox-cart:after {
    position: absolute;
    top: -10px;
    right: -10px;
    content: "5";
    display: block;
    width: 19px;
    padding: 3.5px 0 3.5px 0;
    border-radius: 50%;
    background-color: #F16D7F;
}

/* ====== /end/ header ====== */

/* ====== main ====== */

.main-tagline {
    display: flex;
    background-color: #F1E4E6;
}

.main-tagline-img {
    display: block;
    background-image: url(../img/layer_57.png);
    width: 800px;
    height: 764px;
}

.main-tagline-txt {
    width: 405px;
    margin: 290px 0 381px 63px;
    padding: 0 0 0 16px;
    position: relative;
}

.main-tagline-txt:before {
    content: "";
    position: absolute;
    border-left: 12px solid #F16D7F;
    right: 417px;
    height: 92px;
}

.main-tagline-txt-firstrow {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
}

.main-tagline-txt-secondrow {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}

.main-tagline-txt-secondrow span {
    color: #F16D7F;
}

.main-catalog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 65px 230px 0 230px;
}

.main-catalog-womenbox,
.main-catalog-menbox,
.main-catalog-kidsbox {
    min-height: 260px;
    width: 360px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.main-catalog-womenbox:hover,
.main-catalog-menbox:hover,
.main-catalog-kidsbox:hover,
.main-catalog-accesories:hover {
    transform: scale(1.1);
}

.main-catalog-womenbox:active,
.main-catalog-menbox:active,
.main-catalog-kidsbox:active,
.main-catalog-accesories:active {
    transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: scale(0.9);
}

.main-catalog-womenbox {
    background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/1-for-women.jpg);
}

.main-catalog-menbox {
    background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/2-for-men.jpg);
}

.main-catalog-kidsbox {
    background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/3-for-kids.jpg);
}

.main-catalog-accesories {
    height: 180px;
    width: 100%;
    margin: 30px 0 0 0;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/4-accesories.jpg);
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.main-catalog-desc {
    display: block;
    padding: 105px 0 0 0;
}

.main-catalog-name,
.main-catalog-desc span {
    display: block;
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
}

.main-catalog-inline-desc {
    display: block;
    padding: 65px 0 0 0;
}

.main-weekfeature {
    width: 1140px;
    margin: 96px auto 0 auto;
}

.main-weekfeature-header {
    text-align: center;
}

.main-weekfeature-header-title {
    display: block;
    color: #222222;
    font-size: 30px;
}

.main-weekfeature-header-desc {
    color: #9F9F9F;
    font-size: 14px;
    margin: 6px 0 18px 0;
}

.main-weekfeature-products,
.main-sort-products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-weekfeature-prod {
    width: 360px;
    margin: 30px 0 0 0;
    position: relative;
    background-color: #F8F8F8;
}

.main-weekfeature-btn-wrap {
    background-color: rgba(58, 56, 56, 0.86);
    width: 360px;
    height: 420px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.main-weekfeature-btn-wrap:hover {
    opacity: 1;
}

.main-weekfeature-btn {
    width: 138px;
    height: 43px;
    background-size: 26px;
    background-position: 10% 50%;
    background-repeat: no-repeat;
    background-image: url(../img/cart.svg);
    border: 1px solid #fff;
    background-color: transparent;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 16px 0 0;
}

.main-weekfeature-btn:hover {
    background-color: rgba(58, 56, 56);
    border: 1px solid #000;
}

.main-weekfeature-btn:active {
    color: #F16D7F;
    transform: scale(0.9);
}

.main-weekfeature-prod-title {
    display: block;
    font-size: 13px;
    text-transform: uppercase;
    margin: 25px 0 0 18px;
}

.main-weekfeature-prod-desc {
    font-size: 14px;
    color: #5D5D5D;
    font-weight: 300;
    margin: 25px 24px 0 18px;
    box-sizing: border-box;
}

.main-weekfeature-prod-price {
    display: block;
    font-size: 16px;
    color: #F16D7F;
    margin: 18px 25px;
}

.main-weekfeature-morelink {
    display: block;
    width: 211px;
    margin: 48.5px auto 0 auto;
    padding: 14.5px 38.5px 13.5px 38.5px;
    border: 1px solid #FF6A6A;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #F26376;
}

.main-weekfeature-morelink:hover {
    background-color: #F16D7F;
    color: #fff;
}

.main-weekfeature-morelink:active {
    transform: scale(0.9);
}

.main-feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 230px 0 230px;
    margin: 95px 0 0 0;
    background-color: #222224;
    color: #FBFBFB;
}

.main-feature-box1,
.main-feature-box2,
.main-feature-box3 {
    position: relative;
    width: 360px;
    text-align: center;
    margin: 103px 0;
    box-sizing: border-box;
}

.main-feature-box1:before,
.main-feature-box2:before,
.main-feature-box3:before {
    content: "";
    position: absolute;
    margin: auto;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    width: 50px;
}

.main-feature-box1:before {
    background-image: url(../img/delivery.svg);
    background-size: 45px 32px;
}

.main-feature-box2:before {
    background-image: url(../img/discounts.svg);
    background-size: 40px;
}

.main-feature-box3:before {
    background-image: url(../img/quality.svg);
    background-size: 47px 35px;
}

.main-feature-title {
    display: block;
    font-size: 20px;
    padding: 59px 0 16px 0;
}

.main-feature-desc {
    margin: 0;
    padding: 0 20px 0 20px;
    font-weight: 300;
    font-size: 14px;
    box-sizing: border-box;
}

/*catalog page*/

.main-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F1E4E6;
    padding: 59px 230px 60px 230px;
}

.main-filter-title {
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    text-transform: uppercase;
}

.main-filter-breadcrumb-inactive {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: #636363;
}

.main-filter-breadcrumb-active {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: #F16D7F;
}

.main-sort {
    padding: 51px 230px 0px 230px;
}

.main-sort-header {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 34px 0;
}

.main-sort-filter {
    position: relative;
}

.main-sort-optional {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 306px;
}

.main-sort-optional-trendingnow,
.main-sort-optional-size,
.main-sort-optional-price {
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: #6F6E6E;
    text-transform: uppercase;
    margin: 0 28px 0 0;
    cursor: pointer;
}

.main-sort-optional-trendingnow::after,
.main-sort-optional-size::after,
.main-sort-optional-price::after {
    content: "\02C5";
    margin: 0 0 0 10px;
}

.main-sort-optional-trendingnow:hover,
.main-sort-optional-size:hover,
.main-sort-optional-price:hover {
    background-color: #F16D7F;
    border-radius: 10px;
    color: #fff;
}

.main-sort-optional-trendingnow:active,
.main-sort-optional-size:active,
.main-sort-optional-price:active {
    transform: scale(0.9);
}

.main-sort-optional-size-input {
    display: none;
}

.main-sort-optional-size-panel {
    position: absolute;
    top: 20px;
    left: 156px;
    z-index: 999;
    display: none;
    background-color: #fff;
    box-shadow: 0px 0 10px 4px rgba(50, 50, 50, 0.3);
    width: 80px;
}

.main-sort-optional-size-input:checked ~ .main-sort-optional-size-panel {
    display: block;
}

.main-sort-optional-size-panel ul {
    list-style-type: none;
    padding: 5px 0 5px 9px;
    margin: 0;
    text-transform: uppercase;
}

.main-sort-optional-size-panel li {
    margin: 5px 0 5px 0;
}

.main-sort-optional-size-panel label,
.main-sort-optional-size-panel input {
    cursor: pointer;
}

.main-sort-pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 48px auto 0 auto;
    padding: 12px 16px;
    width: 203px;
    border: 1px solid #EBEBEB;
}

.main-sort-pagination-left,
.main-sort-pagination-right {
    display: flex;
    border: none;
    background-color: transparent;
    width: 9px;
    height: 14px;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.main-sort-pagination-left:hover,
.main-sort-pagination-right:hover {
    cursor: pointer;
}

.main-sort-pagination-svg {
    fill: #000;
    width: 8px;
    height: 9px;
}

.main-sort-pagination-svg:hover {
    fill: red;
}

.main-sort-pagination-svg:active {
    fill: #EF5B70;
    transform: scale(0.9);
}

.main-sort-pagination-ul {
    padding: 0;
    margin: 0 16px 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 203px;
    list-style: none;
}

.main-sort-pagination-list a {
    display: block;
    text-decoration: none;
    color: #000;
    opacity: 0.5;
}

.main-sort-pagination-list a:hover {
    opacity: 1;
}

.main-sort-pagination-list a:active {
    transform: scale(0.9);
}

.main-sort-pagination-list span {
    opacity: 0.5;
}

.main-sort-pagination-list-active a {
    color: #EF5B70;
    opacity: 1;
}

/* Product page */

.main-product-slider {
    min-height: 777px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7F7F7;
}

.main-product-slider-leftarrow,
.main-product-slider-rightarrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 47px;
    background-color: rgba(42, 42, 42, 0.15);
}

.main-product-slider-leftarrow button,
.main-product-slider-rightarrow button {
    background-color: transparent;
    border: none;
    width: 47px;
    height: 47px;
}

.main-product-slider-leftarrow svg,
.main-product-slider-rightarrow svg {
    width: 35px;
    height: 35px;
}

.main-product-desc-wp {
    position: relative;
    min-height: 600px;
    padding: 0 230px 0 230px
}

.main-product-desc {
    position: absolute;
    top: -65px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 1141px;
    min-height: 600px;
    border: 1px solid #EAEAEA;
    background-color: #fff;
}

.main-product-categoryname,
.main-product-name,
.main-product-price {
    display: block;
}

.main-product-categoryname {
    position: relative;
    color: #F16D7F;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}

.main-product-categoryname:after {
    content: "";
    display: block;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #EF5B70;
    width: 63px;
    height: 3px;
}

.main-product-name {
    font-size: 18px;
    font-weight: 300;
    color: #4D4D4D;
    text-transform: uppercase;
}

.main-product-fulldesc {
    text-align: center;
    width: 570px;
    font-size: 14px;
    font-weight: 300;
    color: #5E5E5E;
    margin: 0;
}

.main-product-price {
    font-size: 24px;
    font-weight: 300;
    color: #EF5B70;
}

.main-product-filter::before {
    content: "";
    display: block;
    position: absolute;
    top: 400px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #EAEAEA;
    width: 641px;
    height: 3px;
}

.main-product-filter-color,
.main-product-filter-size,
.main-product-filter-quantity {
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: #6F6E6E;
    text-transform: uppercase;
    margin: 0 28px 0 0;
    cursor: pointer;
}

.main-product-filter-color::after,
.main-product-filter-size::after,
.main-product-filter-quantity::after {
    content: "\02C5";
    margin: 0 0 0 10px;
}

.main-product-filter-color:hover,
.main-product-filter-size:hover,
.main-product-filter-quantity:hover {
    background-color: #F16D7F;
    border-radius: 10px;
    color: #fff;
}

.main-product-filter-color:active,
.main-product-filter-size:active,
.main-product-filter-quantity:active {
    transform: scale(0.9);
}

.main-product-btn {
    width: 211px;
    height: 47px;    
    border: 1px solid #FF6A6A;
    background-color: transparent;
    font-size: 16px;
    color: #F26376;
    cursor: pointer; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.main-product-btn svg {
    fill: #EF5B70;
    margin: 0 23px;
}

.main-product-btn:hover {
    background-color: #EF5B70;
    color: #fff;
}

.main-product-btn:hover svg {
    fill: #fff;
}

.main-product-btn:active {
    transform: scale(0.9);
}

.main-product-custom {
    padding: 0 230px;
    margin: 0 0 128px 0;
}

/* ====== /end/ main ====== */

/* ====== footer ====== */

.subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 230px;
    text-align: center;
    background-image: url(../img/subscribe-back.jpg);
    min-height: 448px;
    box-sizing: border-box;
}

.subscribe-comment span {
    display: block;
    padding: 30px 0 0 0;
    width: 360px;
    font-size: 20px;
}

.copy {
    background-color: #222224;
}

.subscribe-email-heading {
    display: block;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
}

.subscribe-email-txt {
    display: block;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
}

.subscribe-email-form {
    margin: 32px 0 0 0;
    display: flex;
    align-items: center;
    text-align: center;
}

.subscribe-email-input {
    border-radius: 15px 0 0 15px;
    width: 234px;
    min-height: 50px;
    background-color: #E1E1E1;
    font-size: 14px;
    padding: 0 0 0 22px;
    border: none;
}

.subscribe-email-btn {
    width: 100px;
    min-height: 50px;
    border-radius: 0 15px 15px 0;
    background-color: #F16D7F;
    font-size: 14px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.subscribe-email-btn:hover {
    box-shadow: 0 0 10px 0 #F16D7F;
}

.subscribe-email-btn:active {
    transform: scale(0.9);
}

.copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 230px;
}

.copy-txt {
    font-size: 16px;
    color: #FBFBFB;
}

.copy-social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy-social-facebook,
.copy-social-instagram,
.copy-social-pinterest,
.copy-social-twiter {
    border: none;
    background-color: #fff;
    margin: 24px 7px;
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.copy-social-svg {
    fill: #000;
    width: 40px;
    height: 40px;
    padding: 8px;
}

.copy-social-svg:hover {
    fill: #fff;
}

.copy-social-facebook:hover,
.copy-social-instagram:hover,
.copy-social-pinterest:hover,
.copy-social-twiter:hover {
    background-color: #F16D7F;
}

.copy-social-facebook:active,
.copy-social-instagram:active,
.copy-social-pinterest:active,
.copy-social-twiter:active {
    transform: scale(0.9);
}
/* ====== /end/ footer ====== */