/* 
############################################################  
Start catalog page
############################################################ 
*/
.main-filter,
.main-cart-title {
    @include flex-justify;
    align-items: center;
    background-color: #F1E4E6;
    padding: 59px 230px 60px 230px;
}

.main-filter-title {
    @include txt(lato, 400, normal, 24px, $main-color);
    text-transform: uppercase;
}

.main-filter-breadcrumb-inactive {
    text-decoration: none;
    text-transform: uppercase;
    @include txt(lato, 300, normal, 14px, #636363);
}

.main-filter-breadcrumb-inactive:hover {
    text-decoration: underline;
}

.main-filter-breadcrumb-inactive:active {
    color: $main-color;
}

.main-filter-breadcrumb-active {
    text-decoration: none;
    text-transform: uppercase;
    @include txt(lato, 700, normal, 14px, $main-color);
}

.main-filter-breadcrumb-active:hover {
    text-decoration: underline;
}

.main-filter-breadcrumb-active:active {
    border-bottom: 2px solid $main-color;
    border-top: 2px solid $main-color;
    text-decoration: none;
}

.main-sort {
    padding: 51px 230px 0px 230px;

    &-header {
        @include flex-justify(flex, flex-start);
        margin: 0 0 34px 0;
    }

    &-products {
        @include flex-justify;
        flex-wrap: wrap;
    }

    &-filter {
        position: relative;
    }

    &-optional {
        @include flex-justify;
        position: relative;
        align-items: center;
        margin: 0 0 0 306px;

        &-trendingnow,
        &-size,
        &-price {
            background-color: transparent;
            border: none;
            @include txt(lato, 400, normal, 14px, #6F6E6E);
            text-transform: uppercase;
            margin: 0 28px 0 0;
            cursor: pointer;
        }

        &-trendingnow::after,
        &-size::after,
        &-price::after {
            content: "\02C5";
            margin: 0 0 0 10px;
        }

        &-trendingnow:hover,
        &-size:hover,
        &-price:hover {
            background-color: $main-color;
            border-radius: 10px;
            color: #fff;
        }

        &-trendingnow:active,
        &-size:active,
        &-price:active {
            transform: $transform-scale;
        }

        &-size-input {
            display: none;
        }

        &-size-panel {
            position: absolute;
            top: 20px;
            left: 156px;
            z-index: 999;
            display: none;
            background-color: #fff;
            box-shadow: 0px 0 10px 4px rgba(50, 50, 50, 0.3);
            width: 80px;
        }

        &-size-input:checked ~ &-size-panel {
            display: block;
        }

        &-size-panel ul {
            list-style-type: none;
            padding: 5px 0 5px 9px;
            margin: 0;
            text-transform: uppercase;
            @include txt(roboto, 400, normal, 14px, #6F6E6E);
        }

        &-size-panel li {
            margin: 5px 0 5px 0;
        }

        &-size-panel label,
        &-size-panel input {
            cursor: pointer;
        }
    }

    &-pagination {
        @include flex-justify;
        align-items: center;
        margin: 48px auto 0 auto;
        padding: 12px 16px;
        width: 203px;
        border: 1px solid #EBEBEB;

        &-left,
        &-right {
            @include flex-justify(flex, center);
            border: none;
            background-color: transparent;
            width: 9px;
            height: 14px;
            padding: 0;
            align-items: center;
        }

        &-left:hover,
        &-right:hover {
            cursor: pointer;
        }

        &-svg {
            fill: #000;
            width: 8px;
            height: 9px;
        }

        &-svg:hover {
            fill: red;
        }

        &-svg:active {
            fill: $main-color;
            transform: $transform-scale;
        }

        &-ul {
            padding: 0;
            margin: 0 16px;
            @include flex-justify;
            @include txt(lato, 300, normal, 16px, #C4C4C4);
            align-items: center;
            width: 203px;
            list-style: none;
        }

        &-list a {
            display: block;
            text-decoration: none;
            color: #000;
            opacity: 0.5;
        }

        &-list a:hover {
            opacity: 1;
        }

        &-list a:active {
            transform: $transform-scale;
        }

        &-list span {
            opacity: 0.5;
        }

        &-list-active a {
            color: $main-color;
            opacity: 1;
        }
    }
}

/* Меню фильтра на странице каталога */

.main-sort-filter-dropdown {
    position: relative;
}

.main-sort-filter-input,
.main-sort-filter-panel {
    display: none;
}

.main-sort-filter-label {
    cursor: pointer;
}

.main-sort-filter-label div {
    width: 70px;
    @include flex-justify;
    align-items: center;
    padding: 2px 5px;
}

.main-sort-filter-label div:hover {
    background-color: $main-color;
    border-radius: 10px;
    color: #fff;
}

.main-sort-filter-label span {    
    @include txt(lato, 600, normal, 14px, #000);
    text-transform: uppercase;
}

.main-sort-filter-label div:hover span {
    color: #fff;
}

.main-sort-filter-label div:hover svg {
    fill: #fff;
}

.main-sort-filter-panel {
    display: none;
    position: absolute;
    background: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
    z-index: 999;
    width: 360px;
}

.main-sort-filter-panel details {
    margin: 16px 17px 18px 17px;
}

.main-sort-filter-summary {
    @include txt(lato, 400, normal, 14px, $main-color);
    text-transform: uppercase;
    border-bottom: 1px solid #EBEBEB;
    padding: 11px;
    position: relative;
    cursor: pointer;
}

.main-sort-filter-summary:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    border-left: 5px solid $main-color;
    height: 37px;
}

.main-sort-filter-summary::-webkit-details-marker {
    display: none;
}

.main-sort-filter-ul {
    list-style-type: none;
    padding: 0 0 0 34px;
}

.main-sort-filter-list {
    display: block;
    margin: 0 0 11px 0;
}

.main-sort-filter-dropdown a {
    @include txt(lato, 400, normal, 14px, #6F6E6E);
    text-decoration: none;
}

.main-sort-filter-dropdown :checked ~ .main-sort-filter-panel {
    display: block;
}
/* 
############################################################  
End catalog page
############################################################ 
*/
