/* 
############################################################  
Start cart page 
############################################################ 
*/
.main-cart {
	padding: 96px 0 128px 0;
	&-filter-wp {
		width: 100%;
		max-width: 1140px;
		margin: 0 auto;
	}
	&-wp {
		width: 100%;
		max-width: 1140px;
		margin: 0 auto;
		display: flex;
		justify-content: space-around;
		align-items: flex-start;
		flex-wrap: wrap;
	}
	&-title {
		background-color: #f1e4e6;
		padding: 60px 16px;
	}

	&-picked-info {
		display: flex;
		margin: 0 0 40px 0;
		box-shadow: 20px 20px 20px 1px rgba(50, 50, 50, 0.1);
		transition: all 0.4s;
		position: relative;
		&-txt {
			margin: 22px 0 0 31px;
			width: 262px;
		}
		&-close {
			position: absolute;
			top: 15px;
			right: 10px;
			font-size: 40px;
			border: none;
			background-color: transparent;
			cursor: pointer;
			& span {
				display: block;
				transform: rotate(45deg);
			}
			&:hover {
				transform: scale(1.1);
			}
			&:active {
				transform: scale(0.9);
			}
		}
		&:hover {
			outline: 1px solid #000;
		}
		&:active {
			transform: scale(0.95);
		}
	}
	&-picked-options {
		@include flex-justify;
	}
	&-picked-clear,
	&-picked-continue {
		padding: 17px 40px;
		background-color: transparent;
		text-transform: uppercase;
		@include txt(lato, 300, normal, 14px, #000);
		border: 1px solid #a4a4a4;
		cursor: pointer;
	}
	&-picked-clear:hover,
	&-picked-continue:hover {
		background-color: $main-color;
		color: #fff;
	}
	&-picked-clear:active,
	&-picked-continue:active {
		transform: $tsp;
	}
	&-order-adress {
		width: 360px;
		max-width: 360px;
		margin: 20px 0 0 0;
		& span {
			display: block;
			margin: 0 0 20px 0;
			@include txt(lato, 300, normal, 16px, #222222);
			text-transform: uppercase;
		}
	}
	&-order-fieldset {
		width: 100%;
		max-width: 360px;
		border: none;
		padding: 0;
	}
	&-order-input {
		display: block;
		margin: 0 0 20px 0;
		padding: 0 0 0 16px;
		width: 94%;
		max-width: 360px;
		height: 45px;
		@include txt(lato, 300, normal, 13px, #222222);
	}
	&-order-btn {
		padding: 10px 15px;
		background-color: transparent;
		text-transform: uppercase;
		@include txt(lato, 300, normal, 11px, #4a4a4a);
		border: 1px solid #a4a4a4;
		cursor: pointer;
	}
	&-order-btn:hover {
		background-color: $main-color;
		color: #fff;
	}
	&-order-btn:active {
		transform: $tsp;
	}
	&-order-total {
		margin: 57px 0 0 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		max-width: 360px;
		background-color: #f5f3f3;
	}
	&-order-sub {
		@include flex-justify;
		margin: 39px 0 0 175px;
	}
	&-order-sub-txt {
		display: block;
		@include txt(lato, 400, normal, 11px, #4a4a4a);
		text-transform: uppercase;
	}
	&-order-sub-txt2 {
		@include txt(lato, 400, normal, 11px, #4a4a4a);
		text-transform: uppercase;
		margin: 0 0 0 26px;
	}
	&-order-grand {
		position: relative;
		@include flex-justify;
		margin: 0 0 0 110px;
		padding: 12px 0 21px 0;
	}
	&-order-grand-hr {
		width: 76.38888888888889%;
		border-bottom: 1px solid #e2e2e2;
	}
	&-order-grand-txt {
		display: block;
		@include txt(lato, 300, normal, 16px, #4a4a4a);
		text-transform: uppercase;
	}
	&-order-total-btn {
		margin: 17px 0 42px 0;
		padding: 15px 0;
		width: 100%;
		max-width: 273px;
		@include txt(lato, 300, normal, 16px, #fff);
		text-transform: uppercase;
		background-color: $main-color;
		border: none;
		cursor: pointer;
	}
	&-order-total-btn:hover {
		background-color: transparent;
		color: #000;
		outline: 1px solid;
	}
	&-order-total-btn:active {
		transform: $tsp;
	}
}
.picked-title {
	display: block;
	margin: 0 0 20% 0;
	@include txt(lato, 400, normal, 24px, #222222);
	line-height: 29px;
	text-transform: uppercase;
}
.picked-txt {
	position: relative;
	display: block;
	@include txt(lato, 400, normal, 22px, #575757);
	&-price {
		color: $main-color;
	}
	&-othercolor {
		color: #6f6e6e;
	}
}
.picked-quantity {
	display: block;
	position: absolute;
	top: 3px;
	left: 121px;
	border: 1px solid #eaeaea;
	width: 44px;
	@include txt(lato, 400, normal, 18px, #6f6e6e);
	text-align: center;
	cursor: default;
}
.input-other-color::-webkit-input-placeholder {
	color: #b1b1b1;
}
.input-other-color:-ms-input-placeholder {
	color: #b1b1b1;
}
.input-other-color::-ms-input-placeholder {
	color: #b1b1b1;
}
.input-other-color:-moz-placeholder {
	color: #b1b1b1;
}
.input-other-color::-moz-placeholder {
	color: #b1b1b1;
}
.order-grand-color {
	@include txt(lato, 700, normal, 16px, $main-color);
	padding: 0 0 0 26px;
}
/* 
############################################################  
End cart page 
############################################################ 
*/
