/* 
############################################################  
Start cart page 
############################################################ 
*/
.main-cart {
    @include flex-justify;
    padding: 96px 230px 128px 230px;

    &-picked-info {
        display: flex;
        margin: 0 0 40px 0;
        box-shadow: 20px 20px 20px 1px rgba(50, 50, 50, 0.1);

        &-txt {
            position: relative;
            margin: 22px 0 0 31px;
            width: 262px;
        }

        &-close {
            position: absolute;
            top: -10px;
            right: 10px;
            font-size: 40px;
            transform: rotate(45deg);
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
    }

    &-picked-options {
        @include flex-justify;
    }

    &-picked-clear,
    &-picked-continue {
        padding: 17px 40px;
        background-color: transparent;
        text-transform: uppercase;
        font-size: 14px;
        border: 1px solid #A4A4A4;
        cursor: pointer;
    }

    &-picked-clear:hover,
    &-picked-continue:hover {
        background-color: $main-color;
        color: #fff;
    }

    &-picked-clear:active,
    &-picked-continue:active {
        transform: $transform-scale;
    }

    &-order-adress span {
        display: block;
        margin: 0 0 20px 0;
        font-size: 16px;
        text-transform: uppercase;
    }

    &-order-fieldset {
        @include marg-pad-0;
        border: none;
    }

    &-order-input {
        display: block;
        margin: 0 0 20px 0;
        padding: 0 0 0 16px;
        width: 360px;
        height: 45px;
        font-size: 13px;
    }

    &-order-btn {
        padding: 10px 15px;
        background-color: transparent;
        text-transform: uppercase;
        font-size: 11px;
        color: #4A4A4A;
        border: 1px solid #A4A4A4;
        cursor: pointer;
    }

    &-order-btn:hover {
        background-color: $main-color;
        color: #fff;
    }

    &-order-btn:active {
        transform: $transform-scale;
    }

    &-order-total {
        margin: 57px 0 0 0;
        padding: 40px 43px;
        background-color: #F5F3F3;
    }

    &-order-sub {
        @include flex-justify;
        margin: 0 0 0 175px;
    }

    &-order-sub-txt {
        display: block;
        font-size: 11px;
        color: #4A4A4A;
        text-transform: uppercase;
    }

    &-order-grand {
        position: relative;
        @include flex-justify;
        margin: 0 0 0 110px;
        padding: 12px 0;
    }

    &-order-grand::after {
        content: "";
        display: block;
        margin: auto;
        position: absolute;
        top: 52px;
        right: 10px;
        width: 275px;
        height: 1px;
        background-color: #E2E2E2;
    }

    &-order-grand-txt {
        display: block;
        font-size: 16px;
        color: #4A4A4A;
        text-transform: uppercase;
    }

    &-order-total-btn {
        margin: 27px 0 0 0;
        padding: 15px 0;
        width: 100%;
        font-size: 16px;
        text-transform: uppercase;
        background-color: $main-color;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    &-order-total-btn:hover {
        background-color: transparent;
        color: #000;
        outline: 1px solid;
    }

    &-order-total-btn:active {
        transform: $transform-scale;
    }
}

.picked-title {
    display: block;
    margin: 0 0 42px 0;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    text-transform: uppercase;
}

.picked-txt {
    position: relative;
    display: block;
    margin: 0 0 6px 0;
    font-size: 22px;
    color: #575757;

    &-price {
        color: $main-color;
    }
}

.picked-quantity {
    display: block;
    position: absolute;
    top: 3px;
    left: 121px;
    border: 1px solid #EAEAEA;
    width: 44px;
    font-size: 18px;
    text-align: center;
    cursor: default;
}

.input-other-color::-webkit-input-placeholder {
    color: #B1B1B1;
}

.input-other-color:-ms-input-placeholder {
    color: #B1B1B1;
}

.input-other-color::-ms-input-placeholder {
    color: #B1B1B1;
}

.input-other-color:-moz-placeholder {
    color: #B1B1B1;
}

.input-other-color::-moz-placeholder {
    color: #B1B1B1;
}

.order-grand-color {
    color: $main-color;
}

/* 
############################################################  
End cart page 
############################################################ 
*/
