/* 
############################################################  
Start header 
############################################################
*/

.header {
    background-color: #222222;
    @include flex-justify(flex, center);

    &-wr {
        width: 71.25%;
        @include flex-justify();
    }

    &-leftbox {
        width: 111px;
        @include flex-justify();
        align-items: flex-end;
        padding: 18px 0;

        &-logo {
            display: block;
            width: 44px;
            height: 38px;
            background-image: url(../img/logo.png);
            background-size: cover;
            background-position: center;
        }

        &-logo:hover {
            transform: scale(1.1);
        }

        &-logo:active {
            transform: $transform-scale;
        }

        &-form {
            display: flex;
            position: relative;
        }

        &-input {
            position: absolute;
            width: 0;
            opacity: 0;
            border: 2px solid #e8e8e8;
            background: #222222;
            padding: 2px 0;
            transition: all 0.4s;
            @include txt(lato, 400, normal, 14px, #e8e8e8);
        }

        &-input:focus {
            width: 200px;
            opacity: 1;
            margin-left: 40px;
        }

        &-search-btn {
            width: 27px;
            height: 28px;
            fill: #E8E8E8;
        }

        &-search-btn:hover {
            fill: #ababab;
            cursor: pointer;
        }

        &-search-btn:active {
            cursor: pointer;
            fill: $main-color;
        }
    }

    &-rightbox {
        position: relative;
        @include flex-justify();
        align-items: flex-end;
        padding: 18px 0;
        width: 168px;

        &-userpage {
            width: 32px;
            height: 32px;
            padding: 0;
            background-color: transparent;
            border: none;
            display: flex;
            justify-content: center;
            cursor: pointer;

            &-svg {
                fill: #E8E8E8;
            }

            &-svg:hover {
                fill: #ababab;
            }

            &-svg:active {
                cursor: pointer;
                fill: $main-color;
            }
        }

        &-cart {
            position: relative;
            width: 32px;
            height: 32px;
            padding: 0;
            background-color: transparent;
            display: flex;
            justify-content: center;
            border: none;
            text-align: center;
            font-size: 12px;
            color: #fff;
            cursor: pointer;

            &-svg {
                fill: #E8E8E8;
            }

            &-svg:hover {
                fill: #ababab;
            }

            &-svg:active {
                cursor: pointer;
                fill: $main-color;
            }
        }

        &-cart:after {
            position: absolute;
            top: -10px;
            right: -10px;
            content: "5";
            display: block;
            width: 19px;
            padding: 3px 0 3px 0;
            border-radius: 50%;
            background-color: $main-color;
            @include txt(lato, 400, normal, 12px, #fff);
        }
    }
}

/* 
############################################################  
End header 
############################################################ 
*/
